@use "theme/variables" as *;
@use "theme/colors" as *;
@use "mixins" as *;

body {
  margin: $margin-none;
  padding: $padding-none;
  font-family: $font-family;
}

.layout-container {
  @include flex(row, center, flex-start);
  height: $height-view;

  .main-content {
    flex-grow: 1;
    @include flex(row, center, flex-start);
    padding-left: $main-content-margin;
    @include transition(all);

    &.sidebar-collapsed {
      padding-left: $sidebar-collapsed;
    }
  }
}

ul,
li,
a,
p,
span {
  margin: $margin-none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $margin-none;
  padding: $padding-none;
  color: colorTheme(primary, 400);
}

h1 {
  font-size: $font-h1;
  margin-top: $margin-md;
}

h2 {
  font-size: $font-h2;
}

h3 {
  font-size: $font-h3;
}

h1,
h2,
h3 {
  font-weight: $weight-semibold;
}
