$primary-color: #1E2E48;
$secondary-color: #438989; 
$tertiary-color: #F8F9FD;
$text-color: #333;
$hover-color: hsl(217, 41%, 80%);
$active-color: $secondary-color;
$navbar-bg: white;
$transition-speed: 0.3s;
$font-family: 'Roboto', sans-serif;

$sidebar-width: 280px;
$bg-color: #ffffff;
$bg-light: #f5f5f5;
$bg-hover: #f0f8f5;  
$border-color: rgba(0, 0, 0, 0.1);
$icon-size: 1.2rem;
$sidebar-padding: 1rem;
$border-radius: 8px;
$transition-time: 0.3s;


$sidebar-color: hsl(228, 56%, 97%)