@use 'variables' as *;
@use 'layout' as *;
@use 'components' as *;
@use 'sidebar' as *;
@use 'mixins' as *;

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  background-color: #FFFFFF;
  margin: 0;
}

.layout-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-content {
  padding: 20px;
  flex-grow: 1;
  background-color: #FFFFFF; 
}
