@use "sass:map";
@use "sass:color";

$tones: (
  0: 98,
  50: 95,
  100: 90,
  200: 80,
  300: 70,
  400: 60,
  600: 40,
  700: 30,
  800: 20,
  900: 10,
  950: 5,
);

$palette: (
  primary: hsl(231, 31%, 50%),
  secondary: hsl(230, 84%, 50%),
  tertiary: hsl(334, 60%, 50%),
  neutral: hsl(202deg 15% 50%),
  success: hsl(129deg 64% 39%),
  warning: hsl(39deg 71% 51%),
  danger: hsl(3deg 67% 50%),
);

$colors-name: "primary", "secondary", "tertiary", "neutral", "sucess", "warning", "danger";

@function colorTheme($color: "primary", $tone: 500, $mode: "light") {
  $hsl: map.get($palette, $color);

  @if $tone == 500 {
    @return hsl(
      color.channel($hsl, "hue", $space: hsl),
      color.channel($hsl, "saturation", $space: hsl),
      color.channel($hsl, "lightness", $space: hsl)
    );
  } @else {
    @return hsl(
      color.channel($hsl, "hue", $space: hsl),
      color.channel($hsl, "saturation", $space: hsl),
      calc($tone / 10) * 1%
    );
  }
}
