[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-academic-square:before {
  content: "\e900";
}
.icon-add-circle:before {
  content: "\e901";
}
.icon-alt-arrow-down:before {
  content: "\e902";
}
.icon-alt-arrow-up:before {
  content: "\e903";
}
.icon-archive:before {
  content: "\e904";
}
.icon-back:before {
  content: "\e905";
}
.icon-bill:before {
  content: "\e906";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-calendar-add:before {
  content: "\e908";
}
.icon-calendar-search:before {
  content: "\e909";
}
.icon-case:before {
  content: "\e90a";
}
.icon-chart:before {
  content: "\e90b";
}
.icon-check:before {
  content: "\e90c";
}
.icon-clipboard-remove:before {
  content: "\e90d";
}
.icon-clock:before {
  content: "\e90e";
}
.icon-close-circle:before {
  content: "\e90f";
}
.icon-cloud-arrow-up:before {
  content: "\e910";
}
.icon-code:before {
  content: "\e911";
}
.icon-copy:before {
  content: "\e912";
}
.icon-description:before {
  content: "\e913";
}
.icon-download:before {
  content: "\e914";
}
.icon-eye:before {
  content: "\e915";
}
.icon-file-download:before {
  content: "\e916";
}
.icon-file-send:before {
  content: "\e917";
}
.icon-folder:before {
  content: "\e918";
}
.icon-gallery-download:before {
  content: "\e919";
}
.icon-gallery-send:before {
  content: "\e91a";
}
.icon-home:before {
  content: "\e91b";
}
.icon-home-1:before {
  content: "\e91c";
}
.icon-laptop:before {
  content: "\e91d";
}
.icon-laptop-1:before {
  content: "\e91e";
}
.icon-letter:before {
  content: "\e91f";
}
.icon-login:before {
  content: "\e920";
}
.icon-logout:before {
  content: "\e921";
}
.icon-magnifer:before {
  content: "\e922";
}
.icon-notebook:before {
  content: "\e923";
}
.icon-paper-plane:before {
  content: "\e924";
}
.icon-password-unlocked:before {
  content: "\e925";
}
.icon-phone:before {
  content: "\e926";
}
.icon-ruler-cross-pen:before {
  content: "\e927";
}
.icon-settings:before {
  content: "\e928";
}
.icon-sort-bottom-top:before {
  content: "\e929";
}
.icon-sort-top-bottom:before {
  content: "\e92a";
}
.icon-square-alt-arrow-left:before {
  content: "\e92b";
}
.icon-square-alt-arrow-right:before {
  content: "\e92c";
}
.icon-square-double-arrow-left:before {
  content: "\e92d";
}
.icon-square-double-arrow-right:before {
  content: "\e92e";
}
.icon-stopwatch:before {
  content: "\e92f";
}
.icon-text-field-focus:before {
  content: "\e930";
}
.icon-trash-bin:before {
  content: "\e931";
}
.icon-upload:before {
  content: "\e932";
}
.icon-user-circle:before {
  content: "\e933";
}
.icon-verified-check:before {
  content: "\e934";
}
.icon-widget:before {
  content: "\e935";
}
.icon-zip-file:before {
  content: "\e936";
}
